doctype html

html(lang='en-au')
    head
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' )
        meta( name='description' content='Content Slider' )
        meta( name='author' content='Julian Low' )
        meta( name='viewport' content='width=device-width, initial-scale=1' )
        title Peek - JS Slider
        link( rel='stylesheet' href='dist/style.css' )
        link( href='http://fonts.googleapis.com/css?family=Titillium+Web:300,400,700,900' rel='stylesheet' type='text/css' )

    body
        .container
            .layout
            
                header
                    h1 Lorem
                    p Lorem Ipsum Dolor Sit Amet
                    
                .container
                    .peek
                        .slide.item-1
                            
                        .slide.item-2
                            
                        .slide.item-3
                            
                        .slide.item-4
                            
                        .slide.item-5
                                    
                footer
                    a(href="http://heyjul.es") more on heyjul.es
                                    
        script(src='dist/scripts.js')
